@import "../../styles/variables.scss";

.title {
  padding: 0 0 calc($unit * 25) 0;
}

.mainContent {
  padding-top: 30px;
}

.collapsibleInSideBar {
  top: 0;
  width: 100%;
  max-width: 200px;
  padding-top: 30px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.tocInSideBar {
  width: 100%;
  max-width: 200px;
  padding-top: 30px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  position: sticky;
  top: 0;
  overflow: visible;
  height: 80vh;
  overflow-y: auto;
}

@media screen and (max-width: $bp-lg) {
  .title {
    padding: 0 0 calc($unit * 15) 0;
  }
}

@media screen and (max-width: $bp-md) {
  .title {
    padding: 0 0 calc($unit * 15) 0;
  }
}

@media screen and (max-width: $bp-sm) {
  .title {
    padding: 0 0 calc($unit * 15) 0;
  }
}
