@import "../../styles/variables.scss";

.header {
  text-align: center;
  padding: 0 0 calc($unit * 10) 0;
  width: 50%;
}

.container {
  padding: calc(20 * $unit) 0 calc(40 * $unit) calc(20 * $unit);
  width: 100%; // Make the container take the full width
  display: flex;
  flex-direction: column;
  align-items: center; // Center align items
}

.main {
  display: flex;
  max-width: 1200px; // Add a max-width to limit the content width
}

.sideBarSection {
  width: 20%;
}

.tocInSideBar {
  position: sticky;
  top: 0;
  padding-left: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

@media screen and (max-width: $bp-lg) {
  .container {
    padding: calc(20 * $unit) calc(8 * $unit) 0 calc(8 * $unit);
    float: none;
  }

  .header {
    width: 70%;
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(4 * $unit) 0 calc(4 * $unit);
    float: none;
  }

  .main {
    flex-direction: column; // Stack the content and sidebar vertically on smaller screens
  }

  .sideBarSection {
    display: none;
  }

  .header {
    width: 80%;
  }
}
