@import "../../styles/variables.scss";

.header {
  text-align: center;
  padding: 0 0 calc($unit * 10) 0;
}

.container {
  padding: calc(20 * $unit) 0 calc(40 * $unit) calc(20 * $unit);
  margin: auto;
  width: 50%;
}

.leftSideBar_default {
  position: absolute;
  width: 20%;
  left: 0;
  padding: 0 0 0 calc($unit * 8);
}

.leftSideBar_sticky {
  position: fixed;
  top: 0;
  padding: calc($unit * 8) 0 0 calc($unit * 8);
  @extend .leftSideBar_default;
}

.tocInSideBar {
  padding-left: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.sideBarSectionHeader {
  margin-bottom: 7.5px;
}

.sideBarSection {
  padding-bottom: calc($unit * 6);
}

.noteTitle {
  padding-bottom: calc(2 * $unit);
}

@media screen and (max-width: $bp-lg) {
  .container {
    padding: calc(20 * $unit) calc(8 * $unit) 0 calc(8 * $unit);
    float: none;
    width: 90%;
  }
  .leftSideBar_default,
  .leftSideBar_sticky {
    display: none;
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(4 * $unit) 0 calc(4 * $unit);
    float: none;
  }

  .leftSideBar_default,
  .leftSideBar_sticky {
    display: none;
  }
}
