@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(4 * $unit);
  padding: calc(5 * $unit) calc(8 * $unit) calc(8 * $unit) calc(8 * $unit);
}

.filters {
  padding-top: calc(5 * $unit);
  padding-left: calc(8 * $unit);
}

.textHolder {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0; /* Hide text initially */
  transition: opacity 0.3s ease 0s; /* Smooth transition for text appearance */
}

.imgHolder {
  position: relative;
  transition: opacity 0.3s ease 0s;
}

.imgHolder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s ease 0s;
  z-index: 1;
}

.imgHolder:hover::before {
  opacity: 0.55;
}

.imgHolder:hover .textHolder {
  opacity: 1; /* Show text on hover */
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(4 * $unit);
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    display: flex;
    flex-direction: column;
    padding: calc(4 * $unit);
  }

  .filters {
    padding-top: calc(4 * $unit);
    padding-left: calc(4 * $unit);
  }
}
