@import "../../../styles/variables.scss";

.container {
  display: flex;
  padding: calc(20 * $unit) calc(8 * $unit) 0 calc(8 * $unit);
  height: 100%;
}

.scrollableContainer {
  height: 75vh;
}

.list {
  padding: 0 calc(24 * $unit) 0 calc(18 * $unit);
  width: 50%;
}

.letContentContainer {
  width: 50%;
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(8 * $unit) 0 calc(8 * $unit);
  }
  .list {
    padding: 0 0 0 calc(8 * $unit);
    width: 50%;
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    padding: calc(20 * $unit) calc(4 * $unit) 0 calc(4 * $unit);
  }
  .list {
    padding: 0;
    width: 100%;
  }
  .letContentContainer {
    display: none;
  }
}
