@import "../../../styles/variables.scss";

.container {
  padding: 2vh 2vw;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.pageLink {
  cursor: pointer;
}

/* pagination pageItem */
.pageItem {
  color: $color-grey;
  cursor: pointer;
}

/* pagination page item when active */
.pageItemActive {
  cursor: pointer;
  color: $color-white;
  font-weight: bold;
}
