@import "../../../styles/variables.scss";

.container {
  padding: 2vh vw;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.pageLink {
  cursor: pointer;
}

/* pagination pageItem */
.pageItem {
  color: $color-grey;
  cursor: pointer;
}

/* pagination page item when active */
.pageItemActive {
  cursor: pointer;
  color: $color-white;
  font-weight: bold;
}
