// COLOR ------------------------------------------------------------------------------------------------
$color-black: #000;
$color-dark-gray: #28282b;
$color-gray: #b6b6b6;
$color-white: #fff;

// TYPOGRAPHY -------------------------------------------------------------------------------------------

// Size
$text-xl: 1.75rem;
$text-lg: 1.5rem;
$text-md: 1.25rem;
$text-sm: 1rem;
$text-xs: 0.5rem;

// Weight
$text-weight-bold: 300;
$text-wight-semi-bold: 150;

// BREAKPOINTS ------------------------------------------------------------------------------------------
// Mobile
$bp-sm: 576px;
// Tablet
$bp-md: 768px;
// Desktop [992px+]
$bp-lg: 992px;

// UTILS ------------------------------------------------------------------------------------------------
$unit: 5px;
