// COLOR ------------------------------------------------------------------------------------------------
$color-black: #000;
$color-gray: #b6b6b6;
$color-white: #fff;

// TYPOGRAPHY -------------------------------------------------------------------------------------------

// Size
$text-xxl: 4rem;
$text-xl: 2.6rem;
$text-lg: 2rem;
$text-md: 2rem;
$text-sm: 1.125rem;
$text-xs: 0.5rem;

// Weight
$text-weight-bold: 300;
$text-wight-semi-bold: 150;

// BREAKPOINTS ------------------------------------------------------------------------------------------
// Mobile
$bp-sm: 576px;
// Tablet
$bp-md: 768px;
// Desktop [992px+]
$bp-lg: 992px;

// UTILS ------------------------------------------------------------------------------------------------
$unit: 5px;
