// COLOR ------------------------------------------------------------------------------------------------
$color-black: #000;
$color-grey: grey;
$color-green: rgb(196, 255, 194);
$color-off-yellow: rgb(249, 238, 152);
$color-off-blue: rgb(150, 203, 254);
$color-off-white: #c5c8c6;
$color-white: #fff;

// TYPOGRAPHY -------------------------------------------------------------------------------------------

// Size
$text-md: 1rem;
$text-sm: 0.7rem;

// BREAKPOINTS ------------------------------------------------------------------------------------------
// Mobile
$bp-sm: 700px;
// Smaller Computers && IPads (pro included)
$bp-md: 1100px;
// Larger Desktops
$bp-lg: 1300px;

// UTILS ------------------------------------------------------------------------------------------------
$unit: 5px;
