@import "../../../styles/variables.scss";

.header {
  text-align: center;
  width: 100%; // Let the header take full width be default
  max-width: 50%; // restrict overflow
  margin: 0 auto;
  padding: calc($unit); // Add some padding for breathing room if needed
  box-sizing: border-box; // prevent overflow
}

.contentSection {
  padding: 0 120px; // large buffers between sidebars
  width: 70%; // Content takes half the width
  max-width: 100%;
  box-sizing: border-box; // prevent overflow
}

.container {
  padding: calc(20 * $unit) calc(20 * $unit) calc(40 * $unit) calc(20 * $unit);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main {
  display: flex;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: row-reverse;
}

.sideBarSection {
  width: 25%;
  min-width: 5%; // restrict shrinking
  max-width: 25%; // restrict overflow
}

@media screen and (max-width: $bp-lg) {
  .container {
    padding: calc(20 * $unit) calc(10 * $unit) calc(40 * $unit) calc(10 * $unit);
  }

  .contentSection {
    padding: 0 60px; // medium buffers between sidebars
  }

  .sideBarSection {
    max-width: 20%; // restrict overflow
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(20 * $unit) 0 calc(20 * $unit);
    float: none;
  }

  .sideBarSection {
    display: none;
  }

  .main {
    flex-direction: column;
    width: 100%;
  }

  .header {
    max-width: 90%;
  }

  .contentSection {
    padding: 0; // no buffers to worry about here
    width: 100%;
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    float: none;
    padding: calc(10 * $unit) calc(4 * $unit) calc(4 * $unit) calc(4 * $unit);
  }

  .main {
    flex-direction: column;
  }

  .sideBarSection {
    display: none;
  }

  .header {
    max-width: 95%;
  }

  .contentSection {
    width: 100%;
  }
}
