@import "../../../styles/variables.scss";

.header {
  text-align: center;
  width: 100%; // Let the header take full width be default
  max-width: 50%; // restrict overflow
  margin: 0 auto;
  padding: calc($unit); // Add some padding for breathing room if needed
  box-sizing: border-box; // prevent overflow
}

.container {
  padding: calc(20 * $unit) calc(20 * $unit) calc(40 * $unit) calc(20 * $unit);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.left {
  width: 25%; // Fixed size for left sidebar
  max-width: 15%;
  overflow: visible; /* Required to allow sticky */
  position: relative; /* Ensure it doesn't default to static */
  height: auto; /* Ensure the container isn't restricting height */
}

.right {
  width: 25%; // Fixed size for right sidebar
  max-width: 15%;
  overflow-y: auto;
  display: flex;
  justify-content: flex-end; // stick to the right
}

.content {
  padding: 0 120px;
  width: 70%; // content takes remaining space
  max-width: 100%;
  box-sizing: border-box; // prevent overflow
}

@media screen and (max-width: $bp-lg) {
  .container {
    padding: calc(20 * $unit) calc(4 * $unit) calc(40 * $unit) calc(4 * $unit);
  }

  .content {
    padding: 0 calc(8 * $unit);
    width: 60%; // Adjust content width for smaller screens
  }

  .left,
  .right {
    width: 20%;
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(20 * $unit) 0 calc(20 * $unit);
  }

  .left,
  .right {
    display: none; // Hide on smaller screens
  }

  .main {
    flex-direction: column;
  }

  .header {
    max-width: 90%;
  }

  .content {
    padding: 0; // no buffers to worry about here
    width: 100%;
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    padding: calc(10 * $unit) calc(4 * $unit) calc(4 * $unit) calc(4 * $unit);
  }

  .main {
    flex-direction: column;
  }

  .header {
    max-width: 95%;
  }

  .content {
    width: 100%;
    padding: 0;
  }
}
