@import "../../../styles/variables.scss";

.header {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: calc(10 * $unit); // Add some padding for breathing room if needed
}

.container {
  padding: calc(20 * $unit) calc(20 * $unit) calc(40 * $unit) calc(20 * $unit);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main {
  display: flex;
  width: 100%;
}

.sideBarSection {
  width: 25%;
}

.contentSection {
  padding: 0 120px; // large buffers between sidebars
  width: 50%;
}

@media screen and (max-width: $bp-lg) {
  .contentSection {
    padding: 0 60px; // medium buffers between sidebars
    width: 50%;
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(20 * $unit) 0 calc(20 * $unit);
    float: none;
  }

  .sideBarSection {
    display: none;
  }

  .main {
    flex-direction: column;
    width: 100%;
  }

  .header {
    width: 90%;
  }

  .contentSection {
    padding: 0; // no buffers to worry about here
    width: 100%;
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    float: none;
    padding: calc(10 * $unit) calc(4 * $unit) calc(4 * $unit) calc(4 * $unit);
  }

  .main {
    flex-direction: column;
  }

  .sideBarSection {
    display: none;
  }

  .header {
    width: 95%;
  }

  .contentSection {
    width: 100%;
  }
}
