/* demo box */
.iphone {
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

.iphone-viewport {
  position: absolute;
  top: 75px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: 812px;
  display: flex;
  padding: 5px;
  padding-left: 10px; /* to make sure the content ends up centered */
  flex-direction: column;
}

/* typography */
@font-face {
  font-family: "Roboto Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf");
}

* {
  font-family: "Roboto Light", Georgia, serif; /* default font */
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./fonts/Roboto/Roboto-Medium.ttf");
}

h1 {
  font-family: "Roboto Bold";
  font-size: 1.5rem;
}

h2 {
  font-family: "Roboto Bold";
  font-size: 0.8rem;
  margin: 0;
}

h3 {
  font-size: 0.8rem;
  margin: 0;
}

p {
  font-size: 0.75rem;
  padding-top: 2px;
  margin: 0;
  color: grey;
}

/* default button styling */
button {
  appearance: none;
  padding: 0;
  background: none;
  border: none;
  text-align: unset;
}

button:hover,
.filter-grey {
  filter: invert(57%) sepia(3%) saturate(9%) hue-rotate(351deg) brightness(87%)
    contrast(81%);
}

/* chat header */
.chat-header {
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
}

.chat-header .down-chevron-icon {
  padding-left: 2px;
}

.chat-header .pen-square-icon {
  margin-left: auto;
  padding-left: 20px;
}

/* search bar */
.chat-search {
  display: flex;
}

input {
  display: flex;
  border: none;
  background-color: #e7e9eb;
  border-radius: 2%;
  padding: 5px;
  margin: 0 10px 0 10px;
  padding-left: 10px;
  width: 100%;
}

/* navigation */
.chat-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 10px 10px;
}

/* Chat List & Item */
.chat-list {
  padding: 5px;
}

.chat-item {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}

.chat-item .profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

.chat-list .chat-item:hover {
  background-color: #f8f8f8;
  filter: none;
}

.chat-item .camera-icon {
  margin-left: auto;
}

.chat-item .info {
  padding-left: 10px;
}
