@import "../../styles/variables.scss";

.container {
  padding-top: calc(12 * $unit);
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
}

.leftContent {
  display: block;
}

.contentContainer {
  width: 55%;
}

.title {
  padding-bottom: 5px;
}
