@import "../../styles/variables.scss";

.container {
  padding-bottom: calc(12 * $unit);
}

.leadImageContainer {
  padding-top: calc(12 * $unit);
}

.contentDetails {
  display: flex;
  justify-content: space-between;
  padding: calc(12 * $unit) calc(8 * $unit) calc(12 * $unit) calc(8 * $unit);
}

.leftContent {
  display: block;
}

.contentContainer {
  width: 55%;
  text-align: justify;
}

.title {
  padding-bottom: $unit;
}

.listItem {
  padding-right: calc(2 * $unit);
}

// Ensure the entry view takes up the full screen
.contentHeader {
  min-height: 100vh;
  min-width: 100vw;
}

@media screen and (max-width: $bp-sm) {
  .contentDetails {
    display: flex;
    flex-direction: column;
    padding: calc(8 * $unit) calc(4 * $unit) calc(8 * $unit) calc(4 * $unit);
  }
  .contentContainer {
    width: 100%;
  }
  .leftContent {
    padding-bottom: calc(6 * $unit);
  }
}
