@import "../../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

@mixin title {
  font-family: "Oxygen", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin header {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
}

@mixin body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
}

// Colors
.grey {
  color: $color-grey;
}

.white {
  color: $color-white;
}

.green {
  color: $color-green;
}

.blue {
  color: $color-off-blue;
}

// Styles and transformations
.italics {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

// Alignments
.center {
  text-align: center;
}

.right {
  text-align: end;
}

.justify {
  text-align: justify;
}

// Variants
.title {
  font-size: $text-xxl;
  letter-spacing: 0.2em;
  line-height: 1.6;
  padding-bottom: 0.5em;
  @extend .uppercase;
  @include header;
}

.title2 {
  font-size: 2.4rem;
  line-height: 1.6;
  @include title;
}

.title3 {
  font-size: $text-lg;
  padding-bottom: 0.25em;
  @include title;
}

.h1 {
  font-size: $text-xl;
  letter-spacing: 0.2em;
  line-height: 1.4;
  padding-bottom: 0.3em;
  @extend .uppercase;
  @include header;
}

.h2 {
  font-size: $text-lg;
  padding-bottom: 0.25em;
  @include header;
}

.subheading {
  font-size: $text-sm;
  @include body;
}

.subheading2 {
  font-size: $text-xs;
  @include body;
}

.link {
  font-size: $text-md;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02em;
  @extend .blue;
  @extend .italics;
}

.p {
  font-size: $text-md;
  color: $color-off-white;
  line-height: 1.75;
  letter-spacing: 0.02em;
  @include body;
}
