@import "../../../styles/variables.scss";

@font-face {
  font-family: "Montserrat Alternates Thin";
  src: url(../../../fonts/MontserratAlternates-Thin.ttf);
}

@font-face {
  font-family: "Montserrat Alternates Regular";
  src: url(../../../fonts/MontserratAlternates-Regular.ttf);
}

@mixin header {
  font-family: "Montserrat Alternates Thin", sans-serif;
  font-weight: 100;
}
// wow

@mixin body {
  font-family: "Montserrat Alternates Regular", sans-serif;
  font-weight: 400;
}

// Colors
.grey {
  color: $color-grey;
}

.white {
  color: $color-white;
}

// Styles and transformations
.italics {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

// Alignments
.center {
  text-align: center;
}

.right {
  text-align: end;
}

.justify {
  text-align: justify;
}

// Variants
.title {
  font-size: $text-xxl;
  letter-spacing: 0.2em;
  line-height: 1.6;
  padding-bottom: 0.5em;
  @extend .uppercase;
  @include header;
}

.h1 {
  font-size: $text-xl;
  letter-spacing: 0.2em;
  line-height: 1.4;
  padding-bottom: 0.3em;
  @extend .uppercase;
  @include header;
}

.h2 {
  font-size: $text-lg;
  padding-bottom: 0.25em;
  @include header;
}

.subheading {
  font-size: $text-sm;
  @include body;
}

.subheading2 {
  font-size: $text-xs;
  @include body;
}

.link {
  font-size: $text-md;
  text-decoration: none;
  color: $color-off-blue;
  line-height: 1.75;
  letter-spacing: 0.02em;
  @extend .italics;
}

.p {
  font-size: $text-md;
  color: $color-off-white;
  line-height: 1.75;
  letter-spacing: 0.02em;
  @include body;
}
