@import "../../../styles/variables.scss";

.title {
  font-size: $text-xxl;
  font-weight: $text-weight-bold;
  letter-spacing: -0.04em;
  line-height: 1.2;
}

.h1 {
  font-size: $text-xl;
  font-weight: $text-weight-bold;
  letter-spacing: -0.04em;
  line-height: 1.2;
}

.h2 {
  font-size: $text-lg;
  font-weight: $text-weight-bold;
  letter-spacing: -0.04em;
}

.h3 {
  font-size: $text-md;
  font-weight: $text-wight-semi-bold;
}

.subheading {
  font-size: $text-sm;
  font-weight: $text-wight-semi-bold;
}

.p {
  font-size: $text-sm;
}

.center {
  text-align: center;
}

.right {
  text-align: end;
}
