@import "../../../styles/variables.scss";
@import url(https://db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTC+Bodoni+175+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/e080040fab017e068ee2901a6cdb5ec4?family=Lato+Regular);
@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);

@mixin header {
  font-family: "LTC Bodoni 175 W01 Regular";
  text-transform: uppercase;
  color: $color-white;
}

@mixin body {
  font-family: "Lato Regular";
  color: $color-white;
}

.title {
  font-size: $text-xl;
  letter-spacing: 0.2em;
  @include header;
}

.h1 {
  @include header;
}

.h2 {
  @include header;
}

.h3 {
  @include header;
}

.subheading {
  @include header;
}

.p {
  font-size: $text-sm;
  @include body;
}

.center {
  text-align: center;
}

.right {
  text-align: end;
}
