@import "../../../styles/variables.scss";
@import url(https://db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTC+Bodoni+175+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/97e03bc37a8450b75b402cc4e579b2ad?family=ITC+Galliard+Roman);

@mixin text {
  font-family: "ITC Galliard Roman";
  color: $color-black;
}

.title {
  font-size: $text-xxl;
  font-weight: $text-weight-bold;
  letter-spacing: -0.04em;
  line-height: 1.2;
  @include text;
}

.h1 {
  font-size: $text-xl;
  letter-spacing: 0.05em;
  @include text;
}

.h2 {
  font-size: $text-lg;
  letter-spacing: -0.04em;
  @include text;
}

.h3 {
  font-size: $text-md;
  font-weight: $text-wight-semi-bold;
  @include text;
}

.subheading {
  font-size: $text-sm;
  font-weight: $text-wight-semi-bold;
  @include text;
}

.p {
  font-size: $text-sm;
  @include text;
}

.center {
  text-align: center;
}

.right {
  text-align: end;
}
