@import "../../../styles/variables.scss";
@import url(https://db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTC+Bodoni+175+W01+Regular);
@import url(https://db.onlinewebfonts.com/c/e080040fab017e068ee2901a6cdb5ec4?family=Lato+Regular);
@import url(https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto);

@mixin header {
  font-family: "LTC Bodoni 175 W01 Regular";
}

@mixin body {
  font-family: "Lato Regular";
}

// Colors
.grey {
  color: $color-grey;
}

.white {
  color: $color-white;
}

// Styles and transformations
.italics {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

// Alignments
.center {
  text-align: center;
}

.right {
  text-align: end;
}

.justify {
  text-align: justify;
}

// Variants
.title {
  font-size: $text-xl;
  letter-spacing: 0.2em;
  padding-bottom: 0.5em;
  @extend .uppercase;
  @include header;
}

.h1 {
  font-size: $text-lg;
  letter-spacing: 0.2em;
  padding-bottom: 0.25em;
  @extend .uppercase;
  @include header;
}

.h2 {
  font-size: $text-lg;
  padding-bottom: 0.25em;
  @include header;
}

.subheading {
  font-size: $text-sm;
  @include body;
}

.subheading2 {
  font-size: $text-xs;
  @include body;
}

.link {
  font-size: $text-md;
  text-decoration: none;
  color: $color-off-blue;
  @extend .italics;
}

.p {
  font-size: $text-md;
  color: $color-off-white;
  @include body;
}
