@import "../../styles/variables.scss";

.projectImage {
  padding-left: 80px;
  // fade project image outwards
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-out;
}

.fade {
  // fade project image inwards
  visibility: visible;
  opacity: 1;
  transition: all 250ms ease-in;
}

@media screen and (max-width: $bp-md) {
  .projectImage {
    padding-left: 40px;
  }
}

@media screen and (max-width: $bp-sm) {
  .projectImage {
    display: none;
  }
}
