@import "../../styles/variables.scss";

.container {
  display: flex;
  padding: 100px 120px 0 120px;
  height: 100%;
}

.projectsList {
  padding: 0 0 0 80px;
  width: 50%;
}

.projectImage {
  width: 50%;

  // fade project image outwards
  visibility: hidden;
  opacity: 0;
  transition: all 250ms ease-out;
}

.fade {
  // fade project image inwards
  visibility: visible;
  opacity: 1;
  transition: all 250ms ease-in;
}
