.container {
  display: flex;
  padding: 100px 120px 0 120px;
}

.projectsList {
  padding: 0 0 0 80px;
  width: 50%;
}

.projectImage {
  width: 50%;
}

.project {
  padding: 20px 0 20px 0;
}

.projectCategories {
  display: flex;
}

.projectTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5px;
}
