@import "../../../styles/variables.scss";

.container {
  padding: calc($unit * 4) 0 calc($unit * 4) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories {
  display: flex;
}

.title {
  padding-bottom: $unit;
}
