@import "../../styles/variables.scss";

.header {
  text-align: center;
  padding: 0 0 calc($unit * 10) 0;
}

.container {
  padding-top: calc(20 * $unit);
  padding-left: calc(20 * $unit);
  padding-bottom: calc(40 * $unit);
  margin: auto;
  width: 50%;
}

.leftSideBar_default {
  position: absolute;
  width: 20%;
  left: 0;
  padding: 0 0 0 calc($unit * 8);
  z-index: 1;
}

.leftSideBar_sticky {
  position: fixed;
  padding: calc($unit * 8) 0 0 calc($unit * 8);
  z-index: 1;
  @extend .leftSideBar_default;
}

.tocInSideBar {
  padding-left: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.sideBarSectionHeader {
  margin-bottom: 7.5px;
}

.sideBarSection {
  padding-bottom: calc($unit * 6);
}

.inlineCode {
  display: inline;
  padding: 0 4px;
  background-color: #1d1f21;
  color: $color-off-yellow;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  font-size: 0.8rem;
  border-radius: 5px;
}

.mdHeader {
  margin-bottom: -0.9rem;
  margin-top: 6.5rem;
}

.mdSubHeader {
  margin-top: 2.5rem;
  margin-bottom: 0.35em;
}

.mdParagraph {
  text-align: justify;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

.codeBlock {
  margin: 1.5rem 0;
}

.noteTitle {
  padding-bottom: calc(2 * $unit);
}

@media screen and (max-width: $bp-lg) {
  .container {
    padding: calc(20 * $unit) calc(8 * $unit) 0 calc(8 * $unit);
    float: none;
    width: 100%;
  }
  .leftSideBar_default,
  .leftSideBar_sticky {
    display: none;
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(4 * $unit) 0 calc(4 * $unit);
    float: none;
    width: 100%;
  }

  .leftSideBar_default,
  .leftSideBar_sticky {
    display: none;
  }
}
