.collapsible {
  background-color: transparent;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  overflow: hidden;
}
