@import "../../../styles/variables.scss";

.collapsible {
  background-color: transparent;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.arrow {
  padding-left: calc(3 * $unit); // space
  flex-shrink: 0; // Prevent the arrow from resizing or moving
  transform-origin: center;
}

.active .arrow,
.collapsible:hover .arrow {
  transform: rotate(180deg);
  padding-right: calc(3 * $unit); // space
  transition: transform 0.3s ease;
}

.content {
  padding-top: $unit;
  overflow: hidden;
  max-width: 200px;
  padding-left: 5px;
}

.listItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collapsibleItem {
  margin-bottom: 25px;
}
