@import "../../styles/variables.scss";

.titleWrapper {
  text-align: center;
}

.nav {
  position: sticky;
  top: 0;
  padding-top: 30px;
  padding-left: 20px;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}

.mainContent {
  padding-top: 30px;
}
