@import "tocbot/src/scss/tocbot";
@import "../../../styles/variables.scss";

.link {
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  color: $color-grey;
  text-decoration: none;
  text-transform: lowercase;
  display: inline-block;
  font-size: 0.8rem;
  font-family: "Montserrat Alternates Thin", sans-serif;
}

.list {
  margin: 0;
  padding: 0;
}

.link:first-letter {
  text-transform: uppercase;
}

.activeLink {
  @extend .link;
  color: white;
}
