@import "tocbot/src/scss/tocbot";
@import "../../../styles/variables.scss";

.container {
  position: fixed;
  left: 0;
  top: 0;
  padding: calc($unit * 8) 0 0 calc($unit * 8);
  z-index: 1;
}

.link {
  color: grey;
  text-decoration: none;
}

.activeLink {
  @extend .link;
  color: white;
}
