@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50% 1;
  max-width: 50%;
}

.year {
  padding-bottom: calc(2 * $unit);
}

.noteContainer {
  padding: calc(20 * $unit) calc(20 * $unit) calc(10 * $unit) calc(10 * $unit);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.artContainer {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  flex: 1;
  order: 2;
}

.smallNoteTitle {
  display: none;
}

.bigNoteTitle {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $bp-md) {
  .container {
    display: block;
  }
  .column {
    flex: 100% 1;
    max-width: 100%;
  }
  .artContainer {
    width: 100vw;
    height: 100vh;
    order: 1;
    position: relative;
  }
  .noteContainer {
    padding: 20px;
  }
  .bigNoteTitle {
    display: none;
  }
  .smallNoteTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    margin: 0;
    z-index: 11;
  }
  .artContainer::before {
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 60%
    );
  }
}
