@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 50% 1;
  max-width: 50%;
}

.noteTitle {
  padding-bottom: calc(2 * $unit);
}

.noteContainer {
  padding: calc(20 * $unit) calc(20 * $unit) calc(10 * $unit) calc(10 * $unit);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.artContainer {
  width: 100vw;
  height: 100vh;
  position: sticky;
  top: 0;
  flex: 1;
}

@media screen and (max-width: $bp-sm) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .column {
    flex: 100% 1;
    max-width: 100%;
  }
  /* @TODO - nothing is showing up lol */
  .artContainer {
    width: 100vw;
    height: 40vh;
  }
  .noteContainer {
    padding: calc(20 * $unit) calc(10 * $unit) calc(10 * $unit) calc(10 * $unit);
  }
}
