@import "../../styles/variables.scss";

.container {
  padding: calc(20 * $unit) 0 calc(20 * $unit) calc(20 * $unit);
  margin: auto;
  width: 50%;
}

.navigation {
  display: flex;
  justify-content: center;
  color: $color-white;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: $bp-md) {
    gap: 12px;
  }

  @media screen and (max-width: $bp-md) {
    gap: 4px;
  }
}

.navItemWrapper {
  margin: 0; // Make sure there's no margin
  padding: 0 4px; // Add minimal padding to increase click area
}

.dotWrapper {
  margin: 0 8px; // Add space between the dot and the items
  display: inline-block; // Ensure dot stays inline
}

.section {
  margin-bottom: 6.5rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $bp-lg) {
  .container {
    padding: calc(20 * $unit) calc(8 * $unit) 0 calc(8 * $unit);
    float: none;
    width: 60%;
  }
}

@media screen and (max-width: $bp-md) {
  .container {
    padding: calc(20 * $unit) calc(4 * $unit) 0 calc(4 * $unit);
    float: none;
    width: 70%;
  }
}

@media screen and (max-width: $bp-sm) {
  .container {
    padding: calc(18 * $unit) calc(4 * $unit) 0 calc(4 * $unit);
    float: none;
    width: 80%;
  }
}
