@import "../../../styles/variables.scss";

// Colors
.green {
  background-color: rgba($color-green, 0.2);
  border: 1px solid $color-green;
}

.yellow {
  background-color: rgba($color-off-yellow, 0.2);
  border: 1px solid $color-off-yellow;
}

.default {
  background-color: $color-black;
  border: 1px solid $color-white;
}

// Base button
.button {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
